@import "~bootstrap/dist/css/bootstrap.min.css";

/* Cambios Genericos */

.icono {
  font-size: 4em !important;
  text-align: center;
}

.js {
  font-size: 4em !important;
}

/* Main */

button {
  margin: 15px;
}
.creador {
  padding: 3% 16% 0px;
  margin-top: 45px;
}

.descripcion {
  padding: 50px 0 10px;
}

h4 {
  padding: 134px;
}

.excusa {
  height: 350px;
}

#Descripcion-Excusa {
  height: 300px;
}
